services:
  cloudflare-dns-updater:
    image: ghcr.io/artemis-mike/cloudflare-dns-updater:latest
    restart: unless-stopped
    environment:
      CF_UPDATER_ZONE_ID:   ${CF_UPDATER_ZONE_ID}
      #CF_UPDATER_A_RECORD:  ${CF_UPDATER_A_RECORD}
      CF_UPDATER_AAAA_RECORD:  ${CF_UPDATER_AAAA_RECORD}
      CF_UPDATER_TOKEN:     ${CF_UPDATER_TOKEN}
      CF_UPDATER_INTERVAL:  ${CF_UPDATER_INTERVAL}
      CF_UPDATER_LOGLEVEL:  ${CF_UPDATER_LOGLEVEL}
    healthcheck:
      test: ["CMD", "./health-compose.sh"]   
## Remove below if you're using IPv4
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
    networks:
      - ip6net

## Remove below if you're using IPv4
networks:
  ip6net:
    enable_ipv6: true
    ipam:
      config:
        - subnet: 2001:db8::/64